<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="praktikfall.Properties.Settings.PK_PraktikfalletConnectionString"
            connectionString="Data Source=CHRISTIA-DATOR;Initial Catalog=&quot;PK Praktikfallet&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceUpg1Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50895/WebServiceUpg1.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceUpg1Soap"
                contract="WebServiceUpg1Reference.WebServiceUpg1Soap" name="WebServiceUpg1Soap" />
        </client>
    </system.serviceModel>
</configuration>